html{
    body{
        margin: 0px;
        //background: black;
        //color: #fff;
    }
    a{
        //color: #fff;
    }

    #playground{
        position: absolute;
        height: 100%;
        width: 100%;
        background: grey;
    }

    .virtualMouse{
        height: 30px;
        width: 30px;
        background: red;
    }
    #info {
        color: #fff;
        position: absolute;
        top: 0px; width: 100%;
        padding: 5px;
        z-index: 100;
    }
}