<section id="business-software" class="roll-over grid__item sm-one-whole one-half">
    <h3>Business Software Experience</h3>
        <div class="grid__item one-half">
            <p>Code Management</p>
            <ul>
                <li><a href="https://bitbucket.org/" target="_blank">BitBucket</a></li>
                <li><a href="https://github.com/" target="_blank">GitHub</a></li>
            </ul>

            <p>Documentation</p>
            <ul>
                <li><a href="https://www.atlassian.com/software/confluence" target="_blank">Confluence</a></li>
                <li><a href="https://gsuite.google.com/" target="_blank">G Suite</a></li>
            </ul>

            <p>Ticketing Systems</p>
            <ul>
                <li><a href="https://www.getdonedone.com/" target="_blank">DoneDone</a></li>
                <li><a href="https://www.atlassian.com/software/jira" target="_blank">Jira</a></li>
            </ul>
        </div>
        <div class="grid__item one-half">
            <p>Password Management</p>
            <ul>
                <li><a href="https://www.passpack.com/" target="_blank">Passpack</a></li>
            </ul>

            <p>Communication</p>
            <ul>
                <li><a href="https://discordapp.com/" target="_blank">Discord</a></li>
                <li><a href="https://slack.com/" target="_blank">Slack</a></li>
            </ul>

            <p>Project Management & Time Tracking</p>
            <ul>
                <li><a href="https://www.tickspot.com/" target="_blank">Tickspot</a></li>
                <li><a href="https://www.tomsplanner.com/" target="_blank">Tom's Planner</a></li>
                <li><a href="https://trello.com/" target="_blank">Trello</a></li>
            </ul>
        </div>
</section>