*.log
.vscode
$Recycle.Bin
.sass-cache/

.htaccess

wp-config.php

wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/

wp-content/wp-cache-config.php
wp-content/plugins/hello.php

wp-content/themes/gjones/.sass-cache/
wp-content/themes/gjones/node_modules/