<section id="business-software" class="grid__item sm-one-whole one-half">
    <h3>Business Software Experience</h3>
    <ul class="split-list">
        <li><a href="https://beanstalkapp.com/" target="_blank">BeanStalk</a></li>
        <li><a href="https://bitbucket.org/" target="_blank">BitBucket</a></li>
        <li><a href="https://www.atlassian.com/software/confluence" target="_blank">Confluence</a></li>
        <li><a href="https://www.getdonedone.com/" target="_blank">DoneDone</a></li>
        <li><a href="https://github.com/" target="_blank">GitHub</a></li>
        <li><a href="https://gsuite.google.com/" target="_blank">G Suite</a></li>
        <li><a href="https://www.atlassian.com/software/jira" target="_blank">Jira</a></li>
        <li><a href="https://www.passpack.com/" target="_blank">Passpack</a></li>
        <li><a href="https://slack.com/" target="_blank">Slack</a></li>
        <li><a href="https://www.tomsplanner.com/" target="_blank">Tom's Planner</a></li>
        <li><a href="https://trello.com/" target="_blank">Trello</a></li>
    </ul>
</section>