<section id="intro" class="grid__item one-whole">
    <h1>Grahame Jones</h1>
    <h2>Full Stack Web Developer</h2>
    
    <div class="intro-text">
        <h3>Hi there, I'm a local Vancouver based web developer with 10 years of experience.</h3>
	<p>I'd say my biggest strength is with developing custom web applications. In particular backend development with a CMS either WordPress or Drupal. Coincidentally I also consider myself a front end developer. <small>*See self-proclaimed title above.</small></p>
	<p>I am accepting freelance work at this time, please email me: <span class="email">grahame@gjones.ca</span> with your inquiry.</p>
        <br/>
        <h3>Current Interests</h3>
       <!-- <span class="ci-date">(as of 2019-02)</span> -->
        <p class="ci-date_wrapper">High Performance Web Applications, Cloud Architecture, Leadership, Business Development, Machine Learning & Automation.</p>
    </div>
</section>
