<section id="work-history" class="grid__item sm-one-whole one-half">
    <h3>Work History</h3>
    <ul class="work-history">
	<li><i class="fa fa-circle"></i>Jan 2019 - Present: Freelance Web Development. Open for new opportunities.</li>
        <li><i class="fa fa-circle"></i>Feb 2018 - December 2018: Senior Lead Developer at <a href="https://www.burstcreativegroup.com/" target="_blank"><img class="logo see-through" alt="Burst Creative Group Logo" src="/wp-content/themes/gjones/assets/img/burst-logo.gif"/></a></li>
        <li><i class="fa fa-circle"></i>Feb 2014 - Aug 2017: Backend Team Lead Developer at <a href="https://drivedigital.ca/" target="_blank"><img class="logo see-through" alt="DriveDigital Logo" src="/wp-content/themes/gjones/assets/img/drive.gif"/></a></li>
        <li><i class="fa fa-circle"></i>2016: Teacher Assistant at <a href="https://redacademy.com/" target="_blank"><img class="logo see-through" alt="RED Academy Logo" src="/wp-content/themes/gjones/assets/img/red-academy-logo.gif"/></a></li>
        <li><i class="fa fa-circle"></i>Aug 2010 - Jan 2014: Support Coordinator & Developer at <a href="http://tidal.ca/" target="_blank"><img class="logo see-through tidal" alt="Tidal Logo" src="/wp-content/themes/gjones/assets/img/tidal.gif"/></a></li>
        <li><i class="fa fa-circle"></i>Apr 2009 - Aug 2010: Freelance</li>
    </ul>
</section>
