{% extends "base-full.twig" %}

{% block content %}

    {% if hero.show_or_hide == 'Show' %}
        <div class="grid">
            <div class="grid__item one-whole">
                {% include ('partial/hero.twig') %}
            </div>
        </div>
    {% endif %}

    <div>
        <p>post content</p>
        {{post.content}}
    </div>

{% endblock %}